body, html{
    box-sizing: border-box;
    background-image: url("/coffeeBG.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.input-field{
    max-height: 35px;
}
.mySelection{
    height: 35px;
}
.hrStyle{
    border: solid 1px;
}